<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    {%- render "partials/head", page: page, siteMeta: siteMeta, title: title, excerpt: excerpt -%}
    <link
      rel="stylesheet"
      href=""
      type="text/css"
      media="all">
  </head>
  <body id="top">
    <main>
      <header>
        <h1>小隧道卡片盒</h1>
        <div class="tree">
          {%- render "partials/nav", collectionsAll: collections.all, page: page -%}
        </div>
      </header>
      <div>
        {{ content }}
      </div>
      <footer>
        This is site footer
      </footer>
    </main>
  </body>
</html>