<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {%- render "partials/head", page: page, siteMeta: siteMeta, title: title, excerpt: excerpt -%}
    <link rel="stylesheet" href="/static/css/dist.css?v={{ '/static/css/dist.css' | hashFile }}">
  </head>
  <body>
    {{ content }}
  </body>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-041LL9H3C8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ env.GOOGLE_ANALYTICS_ID }}');
  </script>
  <script defer data-domain="littletunnel.com" src="https://plausible.anywherearc.com/js/script.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/tippy-bundle.umd.min.js"></script>
  <script src="/static/js/script.js?v={{ '/static/js/script.js' | hashFile }}"></script>
</html>