<header>
  <div id="brand">
    <a href="{{ env.SERVER_ENV | append: "/" }}">
      <span class="logo"></span>
      </a>
    <a href="{{ env.SERVER_ENV | append: "/" }}">
      <span class="name">LittleTunnel</span>
    </a>
  </div>
</header>