<header>
  {% if back == true %}
    {%- render "partials/back"
      , collectionsAll: collections.all
      , page: page
      , env: env -%}
  {% else %}
    <a href="{{ env.SERVER_ENV | append: "/" }}">
      <div id="brand">
        <span class="logo"></span>
        <span class="name">LittleTunnel</span>
      </div>
    </a>
  {% endif %}
</header>