<header>
  <div id="brand">
    <a href="https://www.littletunnel.com/"><span class="logo"></span></a>
    <a href="https://www.littletunnel.com/"><span class="name">LittleTunnel</span></a>
  </div>
</header>