<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
{% if excerpt == undefined or excerpt == "" %}
<title>Stream of Thoughts - LittleTunnel</title>
<meta name="description" content="My thoughts on technology, business, building product and how to live a better life">
{% else %}
<title>{{ excerpt }}</title>
<meta name="description" content="Stream of Thoughts - Sergey Li - LittleTunnel">
{% endif %}
<link rel="canonical" href="{{ "https://www.littletunnel.com" | append: page.url }}" />
<meta name="robots" content="index, follow" />