---
layout: _html
---
<header>
  <h1>小隧道卡片盒</h1>
  <div class="tag-tree">
    {%- render "partials/nav", collectionsAll: collections.all, page: page -%}
  </div>
</header>
<div>
  {{ content }}
</div>
{%- render "partials/footer", page: page, siteMeta: siteMeta -%}