---
layout: _html
---
{%- for card in collections[collectionKey] -%}
  <div class="card" id="{{ card.fileSlug }}">
    <h1>{{ card.data.title }}</h1>
    {{ card.templateContent }}
    <a href="{{ card.url }}">查看更多</a>
  </div>
{%- endfor -%}