---
layout: _stream-html
---
{%- render "partials/header", collectionsAll: collections.all, page: page, env: env -%}
<div id="notesContainer">
  <div class="note" data-note-url="{{ page.url }}">
    {%- render "partials/back", collectionsAll: collections.all, page: page, env: env -%}
    <div class="noteWrapper">
      <div class="content markdown-body">
        {{ content }}
      </div>
      <div class="metaInfo">
        <time class="updatedAt">{{ page.date | postTime }}</time>
      </div>
    </div>
  </div>
</div>